.container {
  display: flex;
  flex-direction: column;

  header {
    font-weight: 700;
    padding: 20px 15px;
    background-color: #262626;
    color: #fff;
    display: flex;
    justify-content: space-between;
  }
  
  footer {
    font-weight: 400;
    padding: 20px 15px;
    background-color: #262626;
    color: #fff;
    text-align: right;
  }

  .main {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffd9d9;
    height: calc(100vh - 170px);
    i {
      cursor: pointer;
    }
  }

  .input-area {    
    height: 100%;
    resize: none;
    width: 50%;
    border: 1px solid #2c3e50;
    border-radius: 0.5%;
    background-color: #262626;
    color: white;
  }

  .output-area {
    width: 50%;
    height: 100%;
    background-color: #262626;
    color: white;
    border-radius: 0.5%;
    text-align: left;
    overflow: auto;
    padding: 5px;
    div {
      padding: 5px;
    }
  }

  .btn-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .btn {
      margin: 10px 30px;
      border: solid 2px #000;
      color: #000;
      font-size: 20px;
      background: 0 0;
      border-radius: 4%;
      padding: 10px 10px;
      cursor: pointer;
      transition: all .3s ease-in-out;
      &:hover {
        border: solid 2px #18bc9c;
        color: #18bc9c;
        background: #fff;
      }
    }
  }

  .error {
    .invalid, .empty {
      text-align: center;
      padding: 10px;
    }
    i {
      font-size: 50px;
      cursor: default;
    }
  }

  #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }

  #snackbar.show {
    visibility: visible;
    // -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }

  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  .w-50 { width: 50%; }

  .theme-toggle {
    text-align: right;
    button {
      border: solid 2px #FFF;
      color: #FFF;
      background: 0 0;
      border-radius: 4%;
      cursor: pointer;
      transition: all .3s ease-in-out;
      &:hover {
        border: solid 2px #18bc9c;
        color: #18bc9c;
        background: #fff;
      }
    }
    .selected {
      background-color: #18bc9c;
    }
  }

}
.dark {
  .boolean {
    color: orange;
  }
  .string {
    color: lime;
  }
  .number {
    color: mediumorchid;
  }
  .null {
    color: grey;
  }
}

.light {
  .boolean {
    color: darkorange;
  }
  .string {
    color: darkcyan;
  }
  .number {
    color: darkorchid;
  }
  .null {
    color: darkgrey;
  }
  .main {
    background-color: #262626;
  }
  .header, .footer {
    background-color: #87e3ff;
    color: #262626;
  }
  .input-area, .output-area {
    background-color: #F7F7F7;
    color: #262626;
  }
  .btn-stack {
    .btn {
      border: solid 2px #F7F7F7;
      color: #F7F7F7;
      &:hover {
        border: solid 2px #18bc9c;
        color: #18bc9c;
        background: #fff;
      }
    }
  }
}